body {
margin:0;
padding:0;
margin-top:100px;
}

body {
  animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

a {
text-decoration:none;
}

#content {
width:100%;
margin-right:0px;
display:block;
}

#content .content-item .image {
width:33.3%;
margin-bottom:-8px;
margin-right:0px;
float:left;
padding:0;
transition-duration:0.3s;
}

#content .content-item .image:hover {
filter: brightness(50%);
}

#content .content-item .image {
position:relative;
}

#content .content-item .image .text {
position:absolute;
top:50%;
left:50%;
font-size:25px;
opacity:0%;
transform: translate( -50%, -50% );
line-height:70%;
transition-duration:0.3s;
text-align:center;
}



#content .content-item .image:hover .text {
position:absolute;
top:50%;
left:50%;
font-size:25px;
opacity:100%;
transform: translate( -50%, -50% );
line-height:70%;
text-align:center;
}

#content .content-item .image a {
color:white;
}