body {
margin:0 auto;
}

h1,#image {
text-align:center;
}

#write {
width:45%;
margin:0 auto;
font-family: "Helvetica Neue",Helvetica,sans-serif;
font-weight: normal;
line-height: 1.67em;
font-family: "proxima-nova";
font-size: 15px;
line-height: 1.6em;
font-weight: 400;
font-style: normal;
color: #454545;
}

#write h2 {
font-size:30px;
}

#imm {
width:20px;
padding:3px;
}

#foot {
text-align:center;
}