{% load static %}

<div id="header">
  <div id="logo">
    <a href="{%url 'main:home'%}">YOONHA BYUN</a>
  </div>
  <div id="menu">
    <div class="menu-item PAPERCUTS"><a href="{%url 'main:home'%}">PAPERCUTS</a></div>
    <div class="menu-item COLLAGE"><a href="{%url 'main:collage'%}">COLLAGE</a></div>
    <div class="menu-item PAINTING"><a href="{%url 'main:painting'%}">PAINTING</a></div>
    <div class="menu-item PASTEL"><a href="{%url 'main:pastel'%}">PASTEL</a></div>
    <div class="menu-item DIGITAL"><a href="{%url 'main:digital'%}">DIGITAL</a></div>
    <div class="menu-item ARTIST-NOTE"><a href="{%url 'main:artist_note'%}">ARTIST NOTE</a></div>
    <div class="menu-item ABOUT"><a href="{%url 'main:about'%}">ABOUT</a></div>
  </div>
</div>